{{define "content"}}
{{if .Error}}
<div class="alert alert-danger" role="alert">
    {{.Error}}
    {{end}}
</div>
<p><span id="charro-p">Charro</span> can generate your <b>private</b> Spotify playlist based on your most listened
    tracks from either Last.fm or Spotify
    services. It will also add your top track to <a href="https://open.spotify.com/playlist/3XN89Ie0dEP5cInfxN5S5j?si=NabA_j3qQpmG_av0iFA44w" target="_blank">public <span id="charro-p">Charro</span> playlist <i class="fa fa-external-link" aria-hidden="true"></i></a> if you chose to generate long term or overall playlist.</p>
<div class="text-center">
    <a class="btn btn-success btn-lg" href="{{.URL}}" role="button"><i class="fa fa-spotify" aria-hidden="true"></i>
        Connect with Spotify</a>
</div>
{{end}}